services:
  next:
    build:
      context: ./next
      dockerfile: Dockerfile
    container_name: bebebendle-next
    ports:
      - "3000:3000"
    env_file:
      - .env
    volumes:
      - ./next/public/uploads:/app/public/uploads
      - next-cache:/app/.next/cache
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy

  bot:
    build:
      context: ./bot
      dockerfile: Dockerfile
    container_name: bebebendle-bot
    env_file:
      - .env
    volumes:
      - ./next/public/uploads:/app/uploads
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    restart: unless-stopped
    depends_on:
      - next
      - db

  db:
    image: postgres:15
    container_name: bebebendle-postgres
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "5432:5432"
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: bebebendle-redis
    ports:
      - "6379:6379"
    restart: unless-stopped
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

volumes:
  next-cache:
  postgres_data:
  pgadmin_data:
  redis_data:
