@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes scale-pulse {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

@keyframes scale-rotate {
    0%,
    100% {
        transform: rotate(-3deg);
    }
    50% {
        transform: rotate(3deg);
    }
}

.animate-title {
    animation: scale-pulse 5s ease-in-out infinite;
}

.animate-rotate {
    animation: scale-rotate 7s ease-in-out infinite;
}

.pixel-btn {
    font-family: var(--font-pixel), monospace;
    image-rendering: pixelated;
    box-shadow:
        0 4px 0 #000,
        4px 4px 0 #000,
        4px 0 0 #000;
    transition: all 0.1s;
}

.pixel-btn:active {
    transform: translate(4px, 4px);
    box-shadow:
        0 0 0 #000,
        0 0 0 #000,
        0 0 0 #000;
}
